<%- include('header') -%>
<tr height="64" style="background: url('/background.png');" align="center">
	<td colspan="6"><h1 style="line-height: 64px;font-size: 48px; margin:0;">ERROR 404</h1></td>
</tr>
<tr height="40" bgcolor="#96C8EA">
	<td colspan="6" align="center">
		<p style="line-height: 40px; margin: 0; display: inline;">
			<span style="font-weight: bold">OOPS!</span> Looks like you're barking up the wrong tree!
		</p>
	</td>
</tr>
<tr height="280" bgcolor="#96C8EA" style="overflow: scroll">
	<td colspan="6" align="center">
		<img src="http://howfeed.biz/sally.png" alt="Sally the dog">
	</td>
</tr>
<tr height="40" bgcolor="#96C8EA">
	<td colspan="6" align="center">
		<p style="margin: 0; font-size: 16px; line-height: 40px;">The file was not found. Check that the URL was spelled correctly and try again.</p>
	</td>
</tr>
<%- include('footer') -%>
