			<tr bgcolor="black" height="1"><td colspan="6"></td></tr>
			<tr height="18">
				<td colspan="6">
					<p style="font-size: 14px; font-family: Tahoma; line-height: 18px; text-align: center; margin: 0;">Copyright &copy; <%= new Date().getFullYear() %> FemboyFinancial Holdings Co., Ltd. (USA LLC). All rights reserved.</p>
				</td>
			</tr>
		</tbody>
		</table>
	</body>
</html>
